<!DOCTYPE html>
<html>
<body>
    <form method="post">
        <label for="Id">Трек</label>
        <input type="text" value="@ViewBag.Id" name="Id" />
        <input type="submit" value="Отправить" />
    </form>
</body>
</html>